.header{
  display: flex;
  position: sticky;
  z-index: 2;
  /*스크롤업 되는 콘텐츠 위로 올라올 수 있도록*/
  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 0;
  color: black;
}
.header__homelink {
  display: inline-block;
  padding: 0 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
}
.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.header__nav-item{
  font-size: var(--font-size-larger);
}
li.header__nav-item{
  padding: 0%;
}

.header__nav-item a{
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  padding: 0 0.8em;
}

@media (max-width: 768px) {
  .header__nav{
    display: none;
  }

  .header__menu-btn{
    all: unset;
    display: block;
    width: var(--height-toolbar);
    height: var(--height-toolbar);
    background-image: url(/images/bars-solid.svg);
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu-btn:checked + .header__nav {
    display: inherit;
    position: absolute;
    top: var(--height-toolbar);
    right: 0;
    background-color: var(--color-dark);
    padding-bottom: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .header__nav-item {
    width: 100vw;
    text-align: center;
  }
  .header__nav-item a {
    width: 100vw;
  }
  .header__nav-item:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  }

}

@media (min-width: 769px) {
  .header__nav-item{
    display: inline-block;
    position: relative;
    padding: 0 0.8em;

  }
  .header__nav-item :last-child{
    margin-right: 1.6em;
  }

  .header__nav-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: lightgray;
    transition: all 350ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 80%;
    height: 8px;
  }

  .header__menu-btn{
    display: none;
  }
}